@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Winforms Application Distribution Test via ClickOnce Link</h1>
    <a href="~/App/ClickOnceTestApp.application?p1=parameter1&p2=parameter2&p3=parameter3">Test Aplication with parameters</a>
</div>